name: Build

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

on:
  workflow_dispatch: {}
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
    branches:
      - main
      - develop
    paths-ignore:
      - "**.md"
      - doc/**
      - .git/
      - .vscode/
      - "**.txt"

permissions:
  checks: write
  contents: read

jobs:
  build_android:
    name: Build Android App
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: zulu
          java-version: 11.x

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 16

      - name: Install dependencies
        run: |
          cd packages/react-native-hms/
          npm install
          cd example/
          npm install
          cd ../../react-native-room-kit/
          npm install
          cd example/
          npm install

      - name: Publish Dry Run
        run: |
          cd packages/react-native-hms/ && npm publish --dry-run
          cd ../react-native-room-kit/ && npm publish --dry-run

      - name: Make Gradlew Executable
        run: cd packages/react-native-room-kit/example/android && chmod +x ./gradlew

      - name: Build Android App
        run: |
          cd packages/react-native-room-kit/example/android
          ./gradlew assembleDebug --no-daemon

  build_ios:
    name: Build iOS App
    if: github.event.pull_request.draft == false
    runs-on: macOS-latest
    timeout-minutes: 45
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: zulu
          java-version: 11.x

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 16

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2
          bundler-cache: true

      - name: Install dependencies
        run: |
          cd packages/react-native-hms/
          npm install
          cd example/
          npm install
          cd ../../react-native-room-kit/
          npm install
          cd example/
          npm install

      - name: Cache Pods
        id: cache-pods
        uses: actions/cache@v3
        with:
          path: packages/react-native-room-kit/example/ios/Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-

      - name: Install Pods if Cache Missed
        if: steps.cache-pods.outputs.cache-hit != 'true'
        run: |
          sudo gem install cocoapods
          cd ./packages/react-native-room-kit/example/ios
          pod install

      - name: Build iOS App
        uses: yukiarrr/ios-build-action@v1.11.1
        with:
          project-path: packages/react-native-room-kit/example/ios/RNExample.xcodeproj
          p12-base64: ${{ secrets.IOS_P12_BASE64 }}
          certificate-password: ${{ secrets.IOS_CERTIFICATE_PASSWORD }}
          mobileprovision-base64: |
            ${{ secrets.ADHOC_MOBILEPROVISION_BASE64 }}
            ${{ secrets.ADHOCEXTENSION_MOBILEPROVISION_BASE64 }}
          code-signing-identity: iPhone Distribution
          team-id: ${{ secrets.IOS_TEAM_ID }}
          workspace-path: packages/react-native-room-kit/example/ios/RNExample.xcworkspace
          scheme: RNExample
          export-method: ad-hoc
          export-options: packages/react-native-room-kit/example/ios/ExportOptions.plist
